Polaroid.sln
.vs/Polaroid/v16/.suo
.vs/Polaroid/v16/Server/sqlite3/db.lock
.vs/Polaroid/v16/Server/sqlite3/storage.ide
.vs/Polaroid/v16/Server/sqlite3/storage.ide-shm
.vs/Polaroid/v16/Server/sqlite3/storage.ide-wal
Library/EditorInstance.json
Temp/UnityLockfile
